/* Various Utilities */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align:middle;
}

/* Sidebar */

.sidebar {
  width: 100%;
  color: #000000;
}

.sidebar > img {
  width: 100%;
  margin-bottom: 15px;
}

.sidebar > hr {
  margin-left: 0px;
  margin-right: 0px;
}

.sidebar > img {
  width: 100%;
  margin-bottom: 15px;
}

.right-bar > img {
  width: 100%;
}

.right-bar div.well {
  height: 1000px;
}

/* Nav Bar */
.nav-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
}

/* Input inside the navbar */
.nav-bar input {
    float: left;
}
.nav-bar h1 {
    float: left;
}

/* Main Page */
.main-page {
    margin-top: 150px; 
}