/* ++++++++++++++ */
/* GLOBAL OPTIONS */
/* ++++++++++++++ */

@import url('https://fonts.googleapis.com/css?family=Bitter|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', serif;
  background: url("back.png") repeat;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h4 {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}

/* Title Bar */
.title-bar {
  height: 75px;
  width: 100vw;
  background: black;
  color: white;
}

/* App Body*/
.main-page {
  padding: 1%;
}

/* Box */
.box {
  border: 0;
}

.center-children {
  display:flex;
  flex-wrap: wrap;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align:middle;
}

.full-height {
  height: 100%;
}

.pad-15 {
  padding: 15px;
}

/* ++++++++++++++ */
/* SIDE BAR */
/* ++++++++++++++ */

/* Headers */
.header-box {
  border-bottom: 2px solid #3e3f3a;
  margin-bottom: 5px;
}

.sidebar {
  width: 100%;
  min-height: 600px;
}

.key-info-box {
  background: #FFF;
  color: #3e3f3a;
  border: 0.5px solid #3e3f3a;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

/* +++++++++++++ */
/* PLAYER SEARCH */
/* +++++++++++++ */
#player_name {
  color: #232b2b;
  font-size: 12px;
  text-align: center;
}

#player_name:focus{
  border: 1px solid #1d89ff;
}

.drop-27 {
  margin-top: 27px;
}

.drop-32 {
  margin-top: 32px;
}
/* +++++++++++++ */
/* PLAYER RESULTS */
/* +++++++++++++ */
.numberCircle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 2px;
  background: #fff;
  border: 2px solid #3e3f3a;
  color: #3e3f3a;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

#player_stat_table {
  font-family: 'Roboto Mono', serif;
  font-size: 11px;
  text-align: center;
}

th {
  text-align: center;
}

/* +++++++++++++ */
/* PLAYER RESULTS */
/* +++++++++++++ */
.player-name-pane-title {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

/* +++++++++++++ */
/* ABOUT */
/* +++++++++++++ */

#about-smoove {
  width: 100%;
}

.smooveinfo b {
  color: #1d89ff;
}

.smooveinfo a {
  color: #1d89ff;
}

/* +++++++++++++ */
/* LOADING  */
/* +++++++++++++ */
#loading-container {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#loading-container:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255,.5)
}
